@page "/calculoIMC"

<PageTitle>C치lculo de IMC</PageTitle>

<h1>C치lculo de IMC</h1>

<div>
    <strong>
        C치lculo de IMC
    </strong>
</div>

<div class="flex flex-row">
    <div>
        <input class="input" type="text" placeholder="Altura" />
    </div>
</div>

<div>
    <input class="input" type="text" placeholder="Peso" />
</div>

<div>
    <input class="input" type="text" placeholder="Sexo" />
</div>

<div>
    <input type="checkbox">Eu tenho 65 anos ou mais />
</div>

<div>
    <button class="button-destaque">Calcular meu IMC</button>
</div>

<div>
    <button>Entenda o C치lculo</button>
</div>