@page "/history"

<PageTitle>Histórico</PageTitle>

<h1>Histórico</h1>

<div id="primeiro-id">
    <img src="img/icon-no-bg.png" alt="icone IMC" width="25%">
</div>

<div>
    <h1>Histórico</h1>
</div>

<div>
    <input class="input-text" type="text" placeholder="Pesquisar" />
</div>
<div class="flex flex-row">
    <div class="flex flex-row">
        <div class="flex flex-row">
            <h5>Peso ideal</h5>
        </div>
        <div>
            <p>8m atrás</p>
        </div>
    </div>
    <div>
        <p>Parabéns, você está no seu peso ideal, continue mantendo este estilo!</p>
    </div>
</div>
<div class="flex flex-column">
    <div>
        <h5>Sobrepeso</h5>
    </div>
    <div>
        <p>12/10/2023</p>
    </div>
    <div>
        <p>Estamos quase lá. Faça alguns ajustes para ficar no peso ideal!</p>
    </div>
</div>